@import "reset";
@import "mixin";
$bgColor:#FEF7E6;
$titleColor:#2B2B2B;
//#2B2B2B  #FFB000 #1B2F4D

@font-face{
    font-family: 辰宇落雁體;
    src: url(../PersonalWeb/ChenYuluoyan-Thin-Monospaced.eot),url(../PersonalWeb/ChenYuluoyan-Thin-Monospaced.ttf),url(../PersonalWeb/ChenYuluoyan-Thin-Monospaced.woff);
}

body{
    max-width: 100%;
    background:$bgColor ;
}
.wrap{   
    overflow: hidden;
}
.header{  
    width: 100%;
    height: 55px;
    background: $bgColor;
    position: fixed;
    z-index: 10; 

    &__content{
        display: flex;
        align-items: center;
        float: left;
        padding-top: 5px;
    }
    &__line{
        margin: 10px 15px 10px 0;
        height: 25px;
        border: 1px solid #474747;
    }
    &__title{
        font-family: 'Yeseva One';
        font-weight: lighter;
    }
    &__logo{
        background-image: url(img/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        height: 50px;
        margin-left: 15px;
        @include text-logo;
    }
    &__github{
        float: right;
        width: 35px;
        height: 35px;
        background-image: url(img/github-mark.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px 5% 10px 10px;
        @include text-logo;
        &:hover{
            background-image: url(img/github.png);
        }
    }
    &__menu{
        display: flex;
        margin-left: 50px;
        float: right;
        padding-top: 10px;

        @include w650{
            display:none;
            margin-left: 50px;
            float: right;
            padding-top: 10px;
        }
    }
    &__link{
        text-decoration: none;
        display: block;
        padding: 10px 25px;
        color: #474747;
        font-weight: 700;
        &:hover{
            color: #FFB000;
        }
    }
}
.content{
    width: 100%;
}
.main{
    display: flex;
    font-family: 辰宇落雁體;
    text-align: center;
    line-height: 1.5; 
    padding-top: 5%;
    align-items: center;
    
    @include w768{
        display: block;
        position: relative;
        padding-top: 20%;
        margin-bottom: 100px;
    }
    @include w600{
        margin-bottom: 10%;
    }
    &__imgBox{
        width: 40%;
        @include w768{
            position: absolute;
            width: 40%;
            top: 20%;
            left: 0;
        }
        @include w600{
            position: absolute;
            width: 70%;
            top: 10%;
            left: 0;
        }
    }
    &__img{
        max-width: 120%;
        height: auto;  
        margin: 0 auto;

        @include w1000{
            max-width: 120%;
        }
        @include w768{
            max-width: 100%;
        }
        @include w600{
            z-index: -1;
        }
    }
    &__title{
        background-image: url(img/title-bg.png);
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: 0 40%;
        padding: 20px 0 20px 8%;
        margin: 10% 0 15%;
        width: 80%; 

        @include w768{
            background-size: 140%;
            background-position: 40% 40%;
            padding: 0 0 0 15%;
            margin: 0 0 0 0; 
            width: 90%; 
            text-align: left;
        }
        @include w600{
            position: relative;
            padding: 0 0 0 10%;
            margin: 20% 0 0 0;  
            background-image: linear-gradient(to top,rgba(245,245,245,1),rgba(245,245,245,0));
        }
    }
    &__name{
        font-size: 72px;

        @include w1000{
            font-size: 64px;
        }
        @include w768{
            text-align: center; 
        }
        @include w600{
            text-align: right; 
            padding-right: 10%;
            font-size: 40px;
            padding-top: 15%;
        }
    }
    &__motto{
        font-size: 48px;

        @include w1000{
            font-size: 36px;
        }
        @include w768{
            font-size: 28px;
            text-align: center;
            margin-left: 10%;
        }
        @include w600{
            padding-right: 10%;
            text-align: right; 
            font-size: 26px;
        }
        @include w460{
            font-size: 20px;
        }
    }
    &__expectation{
        font-size: 24px;
        
        span::before{
            content: '';
            @include w768{
                content: '\a          ';
                white-space: pre;
            }
        }
        @include w1000{
            font-size: 24px;  
        }
        @include w768{
            font-size: 20px;
            text-align: center;
        }
        @include w600{
            padding-right: 10%;
            text-align: right; 
            font-size: 18px;
            padding-bottom: 10%;
        }
        @include w460{
            font-size: 16px;  
        }
    }
}
.about{
    display: flex;
    align-items: center;
    padding-top: 55px;  

    @include w768{
        display: block;
        padding-top: 55px;
    }
    @include w600{
        display: block;
        padding-top: 55px;
    }
    &__title{
        padding: 0 6%;
        font-family:'Yeseva One';
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: $titleColor;
        white-space: pre;

        @include w1000{
            padding: 0 3%;
            font-size: 36px;
            letter-spacing: 1px;  
        }
        @include w768{
            text-align: center;
            margin-bottom: 20px;
        }
        @include w600{
            font-size: 24px;
        }
    }
    &__titleCh{
        font-size: 28px;
        letter-spacing: 1em;

        &::before{
            content: '\a';

            @include w768{
                content: '';
            }
        }
        @include w768{
            padding-left: 1em;
        }
        @include w600{
            font-size: 24px;
            padding: 0 1%;
            letter-spacing: 10px;
        }
    }
    &__content{
        width: 70%; 
        margin: 0 auto;

        @include w768{
            width: 80%;
        }
        @include w600{
            width: 90%;
        }
    }
    &__subtitle{
        font-size: 36px;
        background-image: url(img/title.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 1.5%;
        padding: 20px;
        font-family: 辰宇落雁體;
        line-height: 1.5;
        color: #1B2F4D;
    }
    &__introduce{
        text-align: justify;
        width: 90%;

        @include w1000{
            text-align: justify;
            width: 90%;
        }
    }
    &__highlight{
        font-weight: 700;
    }
    &__experience,&__content p{
        color: #474747;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 30px;
        margin-left: 3%;
    }
    &__skill{
        display: flex; 
        justify-content: center;
        margin-bottom: 10px;
    }
    &__frontEnd,&__design{
        width: 45%; 
    }
    &__skillTitle{
        font-size: 18px;
        line-height: 2;
        font-family: Noto Sans;
        font-weight: 600;
        color: #474747;
        margin-left: 25px;
    }
    &__itemName{
        display: inline-block;
        width: 25%;
        padding-left: 15px;
        line-height: 2;
    }
    &__level{
        vertical-align: middle;
        display: inline-block;   
        padding-left: 10%;

        @include w768{
            padding-left: 15%;
        }
        @include w600{
            margin-left: 5%;
        }
    }
    &__circle{
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #474747 ;
        border-radius: 14px;
    }
    &__circle--fill{
        background:#474747 ;
    }
    &__learn{
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 3px;
    }
}
.portfolio{
    padding-top: 55px;
    
    &__title{
        font-family:'Yeseva One';
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: $titleColor;
        text-align: center;
        margin-bottom: 40px;
        @include w600{
            font-size: 28px;
        }
    }
    &__titleCh{
        font-size: 28px;
        letter-spacing: 1em;
        @include w600{
            font-size: 28px;
            letter-spacing: 10px;
        }
    }
    &__subtitle{
        font-family:'Yeseva One';
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: $titleColor;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-top: 10px;

        @include w1000{
            text-align: center;
            margin-left: 0;
        }
        @include w600{
            font-size: 24px;
        }
    }
    &__content{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 0 0 0 5%;
    }
    &__item{
        width: 31.3333%;
        margin-bottom: 20px;  
       
        &:hover .portfolio__bg{
            background: #FFB000;
        }
        &:hover .portfolio__itemName{
            color: #FFB000;
        }
        @include w1000{
            width: 48%;
            margin-bottom: 20px;  
        }
        @include w600{
            width: 98%;
            margin-left: 5%;
            margin-bottom: 50px; 
        }
    }
    &__link{
        text-decoration: none;
        color: #1B2F4D;
        line-height: 1.5;
    }
    &__caption{
        padding: 0 8% 0 0;
    }
    &__imgBox{
        position: relative; 
        margin-bottom: 25px;
        height: auto;
    }
    &__img{
        display: block;
        width: 85%;
        border: 2px solid #FFB000;
    }
    &__bg{
        position: absolute;
        background: #1B2F4D;
        width: 55%;
        height: 65%;
        bottom: -8%;
        right: 10%;
        z-index: -1;
    }
    &__itemName{
        font-size: 18px;
        line-height: 1.5;
        font-family: Noto Sans;
        font-weight: 600;
        color: #1B2F4D;
    }
}